.taskBar {
  width: 100%;
  height: 3vh;
  background: linear-gradient(#547eb5, #0443e2 99%);
  display: block;
}
.taskBar_startBtn {
  width: 6vw;
  height: 100%;
  border-right: 2px solid #1a5f1b;
  background: radial-gradient(#30a02f 90%, #238226);
  border-radius: 0% 10% 10% 0%;
  float: left;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.taskBar_startBtn_text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  user-select: none;
  color: #ffffff;
}
.taskBar_startBtn_img {
  object-fit: contain;
  height: 90%;
  width: 30%;
}
.taskBar_timeBox {
  width: 10vw;
  height: 100%;
  background: radial-gradient(#399fd0, #128be8 90%);
  float: right;
  border-left: 2px solid #003985;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.taskBar_timeBox_text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding: 0;
  text-align: center;
  margin: 0;
  color: #d4e2ff;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 50px;
}
.iconsContainer_app {
  height: 125px;
  width: 125px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.iconsContainer_app_text {
  font-size: 25px;
  color: white;
  margin: 0;
  text-align: center;
}
.iconsContainer_app_img {
  object-fit: contain;
  height: 70%;
}

.menuModal {
  display: none;
}
.menuModal_visible {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 35%;
  height: 50%;
  background-color: #1062cd;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 50vh;
  width: 25vw;
  margin-bottom: 3vh;
  display: block;
}
.menuModal_content {
  background-color: #d3e5fa;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menuModal_content_app {
  height: 15%;
  width: 80%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(180, 172, 172);
}
.menuModal_content_app_img {
  object-fit: contain;
  height: 95%;
  width: 30%;
}
.menuModal_content_app_text {
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.appModal {
  display: none;
  position: fixed;
  align-self: center;
  justify-self: center;
  width: 30%;
  aspect-ratio: 3/2;
  background-color: white;
  overflow: auto;
  z-index: 2;
  border: 3px solid #3b81f4;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}
.appModal_header {
  background-color: #1062cd;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.appModal_header_exit {
  margin-right: 10px;
  height: 80%;
  aspect-ratio: 1/1;
  background-image: url("../assets/windowsExit.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  background-image: url("../assets/windowsBackground.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
}

main {
  width: 100%;
  height: 97vh;
  display: grid;
  flex-direction: column;
}

footer {
  align-self: flex-end;
  display: inline-block;
  width: 100%;
  padding: 0;
  position: fixed;
  height: 3vh;
}

/*# sourceMappingURL=style.css.map */
