.menuModal {
  display: none;
  &_visible {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 35%;
    height: 50%;
    background-color: #1062cd;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 50vh;
    width: 25vw;
    margin-bottom: 3vh;
    display: block;
  }
  &_content {
    background-color: #d3e5fa;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    &_app {
      height: 15%;
      width: 80%;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgb(180, 172, 172);
      &_img {
        object-fit: contain;
        height: 95%;
        width: 30%;
      }
      &_text {
        font-size: 30px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  }
}
