@use "./taskbar.scss";
@use "./desktopIcons.scss";
@use "./partials/variables";
@use "./menu.scss";
@use "./appModal.scss";
body {
  background-image: url("../assets/windowsBackground.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
}
main {
  width: 100%;
  height: 97vh;
  display: grid;
  // align-self: center;
  flex-direction: column;
}
footer {
  align-self: flex-end;
  display: inline-block;
  width: 100%;
  padding: 0;
  position: fixed;
  height: 3vh;
}
